@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Rubik+Microbe&family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Erica+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap");

.MainCurtain {
  width: 100vw;
  height: 0vh;
  background: #000;
  transition: 500ms ease-in-out;
}

.App_Init {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #ffffff;
  transition: 0.4s ease-in-out all;
  overflow-x: hidden;
  overflow-y: hidden;
}

#_higher_highlight {
  font-weight: 700;
}

.App_Init::-webkit-scrollbar {
  display: none;
}

.WelcomeMessage {
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1px;
  z-index: 1;
}

.Circle {
  border-radius: 50%;
  height: 0px;
  width: 0px;
  position: absolute;
  transition: 0.6s ease-in-out all;
}

.App {
  height: 100vh;
  width: 100vw;
}

.cursor {
  background: rgb(255, 255, 255);
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0) 37%,
    rgba(48, 4, 129, 1) 57%,
    rgba(137, 122, 157, 1) 95%
  );
  border: 1px solid rgba(255, 255, 255, 0.587);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  transition: 0.2s ease-out;
  animation: cursorAnimation 1s infinite alternate;
}

.cursor::after {
  content: "";
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  border: 10px solid rgba(0, 0, 0, 0.064);
  top: -10px;
  left: -10px;
  animation: cursorAnimationTwo 1s infinite alternate;
}

@keyframes cursorAnimation {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.3);
  }
}

@keyframes cursorAnimationTwo {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.6);
  }
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  padding-left: 2vw;
}

.App_Content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 45vw;
}

#App_Content_lowerHighlight {
  -webkit-text-stroke-color: rgb(154, 179, 255);
}

.App_Content_Nohighlight {
  font-weight: 800;
  font-size: 15vh;
  font-style: italic;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
  color: transparent;
}

.App_Content_Highlight {
  font-size: 15vh;
  font-family: "Ubuntu", sans-serif;
  font-weight: 900;
  letter-spacing: 1px;
  color: rgb(255, 255, 255);
  /* -webkit-text-stroke-width: 3px; */
  /* -webkit-text-stroke-color: rgb(154, 179, 255); */
}

.Next_Button {
  cursor: none;
  font-size: 17px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  font-style: italic;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.797);
  background: #ffffff;
  border: none;
  outline: none;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 10vh 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Next_Button:hover {
  background: #000000;
  color: #fff;
  border: 2px solid #ffffff;
  transition: 0.2s ease-in-out;
}

.App_Decor {
  transition: 0.5s ease-in-out all;
  position: absolute;
  top: 5%;
  background: #000;

  width: 60vw;
  height: 0vh;
}

.Contact {
  color: #fff;
  width: 100vw;
  height: 100vh;
  padding: 4vh 1.5vw 0 1.5vw;
  display: flex;
  flex-direction: column;
}

.ContactHead {
  margin-top: 4vh;
  margin-left: 4vw;
  width: fit-content;
  padding-right: 1.5vw;
  font-weight: 800;
  font-size: 10vh;
  font-style: italic;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
  color: transparent;
  border-bottom: 1px solid white;
}

.Contact_Methods {
  width: 100%;
  height: 100%;
  margin-top: 2vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2vw;
  border-bottom: 1px solid #fff;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(140, 255, 163, 0.109) 100%
  );
}

#Contact_Highlight {
  -webkit-text-stroke-color: #518eb2;
}

.Contact_Method {
  z-index: 999;
  border-radius: 10px;
  height: 16vw;
  width: 16vw;
}

.Contact_Method:nth-child(1) {
  background: #fff;
  background-image: url("./assets/github_animation.gif");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.Contact_Method:nth-child(2) {
  background: white;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("./assets/linkedin_animation.gif");
}

.Contact_Method:nth-child(3) {
  background: rgb(0, 0, 0);
  background: url("./assets/instagram_animation.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.Contact_Method:nth-child(4) {
  background: #fff;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("./assets/gmail_animation.gif");
}

.Contact_Method:nth-child(5) {
  background: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("./assets/twitter_animation.gif");
}

.JumpTo {
  display: flex;
  flex-direction: column;
  width: 70vw;
  margin-left: 5vw;
  margin-top: 5vh;
}

.UpcomingFeature {
  z-index: 999;
  position: absolute;
  right: 10%;
  text-decoration: underline;
  transition: 0.2s ease-in-out all;
}

.UpcomingFeature:hover {
  color: rgb(161, 161, 255);
}

.Popup {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  display: none;
  color: #fff;
  z-index: 1000;
  display: none;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  font-size: 8vh;
  font-family: "Poppins", sans-serif;
}

.target {
  color: rgb(255, 247, 0);
}
